
/**************/
/*lr-raas-style.css*/

/*// =============================================================*/
/*// Start RaaS template*/
/*// =============================================================*/
/*// =============================================================*/
/*// Form templates*/
/*// Removing this will remove all the form styling*/



/*Horizontal Or Rule*/



.loginradius--form-element-content label {
    margin-right: 7px;
    width: 70px;
}



#forgotpassword-container input, #forgotpassword-container textarea{
      background: #ffffff;
    border: 1px solid;
    border-color: #337ab7;
    width: 72%;
    height: 32px;
    margin: 8px;
}



#login-container input, #login-container textarea{
      background: #ffffff;
    border: 1px solid;
    border-color: #337ab7;
    width: 72%;
    height: 32px;
    margin: 8px;
}

#registration-container input, #registration-container textarea{
     background: #ffffff;
    border: 1px solid;
    border-color: #337ab7;
    width: 72%;
    height: 32px;
    margin: 8px;
}



#profileeditor-container input, #profileeditor-container textarea{
     background: #ffffff;
    border: 1px solid;
    border-color: #337ab7;
  

    width: 79%;
     
    height: 32px;
      margin-left:10%;
         margin-right:10%;
    margin-bottom: 3%;
}


div#profileeditor-container input[type="submit"] {
    background-color: #337ab7;
    border: none;
       color: white;
   width: 79%;
     
    height: 32px;
      margin-left:10%;
         margin-right:10%;
    margin-bottom: 3%;
    text-decoration: none;
    
    cursor: pointer;
}

input#loginradius-submit-Login {
   background-color: #337ab7;
    border: none;
       color: white;
    padding: 9px 32px;
    text-decoration: none;
    margin: 22px 35px 20px 93px;  
    cursor: pointer;
}



#updatephone-container input, #updatephone-container textarea{
   background: #ffffff;
    border: 1px solid;
    border-color: #337ab7;
  

    width: 79%;
     
    height: 32px;
      margin-left:10%;
         margin-right:10%;
    margin-bottom: 3%;
   
}


#changepassword-container input, #changepassword-container textarea{
   background: #ffffff;
    border: 1px solid;
    border-color: #337ab7;
  

    width: 79%;
     
    height: 32px;
      margin-left:10%;
         margin-right:10%;
    margin-bottom: 3%;
   
}


#addemail-container input, #addemail-container textarea{
   background: #ffffff;
    border: 1px solid;
    border-color: #337ab7;
  

    width: 79%;
     
    height: 32px;
      margin-left:10%;
         margin-right:10%;
    margin-bottom: 3%;
   
}

#removeemail-container input, #removeemail-container textarea{
   background: #ffffff;
    border: 1px solid;
    border-color: #337ab7;
  

    width: 79%;
     
    height: 32px;
      margin-left:10%;
         margin-right:10%;
    margin-bottom: 3%;
   
}

#changeusername-container input, #changeusername-container textarea{
   background: #ffffff;
    border: 1px solid;
    border-color: #337ab7;
  

    width: 79%;
     
    height: 32px;
      margin-left:10%;
         margin-right:10%;
    margin-bottom: 3%;
   
}


div#removeemail-container input[type="submit"] {
    background-color: #337ab7;
    border: none;
       color: white;
   width: 79%;
     
    height: 32px;
      margin-left:10%;
         margin-right:10%;
    margin-bottom: 3%;
    text-decoration: none;
    
    cursor: pointer;
}


div#addemail-container input[type="submit"] {
    background-color: #337ab7;
    border: none;
       color: white;
   width: 79%;
     
    height: 32px;
      margin-left:10%;
         margin-right:10%;
    margin-bottom: 3%;
    text-decoration: none;
    
    cursor: pointer;
}

input#loginradius-submit-Submit {
  background-color: #337ab7;
    border: none;
       color: white;
   width: 79%;
     
    height: 32px;
      margin-left:10%;
         margin-right:10%;
    margin-bottom: 3%;
    text-decoration: none;
    
    cursor: pointer;
}


input#loginradius-submit-Update {
  background-color: #337ab7;
    border: none;
       color: white;
   width: 79%;
     
    height: 32px;
      margin-left:10%;
         margin-right:10%;
    margin-bottom: 3%;
    text-decoration: none;
    
    cursor: pointer;
}


input#loginradius-submit-Send {
   background-color: #337ab7;
    border: none;
       color: white;
    padding: 9px 32px;
    text-decoration: none;
    margin: 22px 35px 20px 93px;  
    cursor: pointer;
}


input#loginradius-submit-Register {
   background-color: #337ab7;
    border: none;
       color: white;
    padding: 9px 32px;
    text-decoration: none;
    margin: 22px 35px 20px 93px;
    cursor: pointer;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.lineverticle {
   position: absolute;
   left: 50%;
   top: 0;
   bottom: 0;
   width: 1px;
   background: #ccc;
   z-index: 1;
}

.wordwrapperline {
   text-align: center;
   height: 12px;
   position: absolute;
   left: 0;
   right: 0;
   top: 29%;
   margin-top: -12px;
   z-index: 2;
}

.wordline {
   color: #ccc;
   text-transform: uppercase;
   letter-spacing: 1px;
   padding: 3px;
   font: bold 12px arial,sans-serif;
   background: #fff;
   width: 20px !important;
    margin: 0 auto;
}

.hr-or-rule {
    position: relative;
    border-bottom: 1px solid #eee;
    margin-bottom: 30px;
    padding-bottom: 30px;
}
.hr-or-rule:before {
    content: "OR";
    display: inline-block;
    line-height: 24px;
    text-align: center;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding: 4px;
    position: absolute;
    /* right: -18px; */
    /* top: 50%; */
    margin-left: -16px;
    bottom: -17px;
    left: 50%;
    font-family: sans-serif;
    font-size: 12px;
    box-sizing: initial;
}


/*
*
* Login Page
**/

.lr-cus-reg-wrapper[data-cus-reg-modal] {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.lr-cus-reg-wrapper .lr-cus-reg-frame {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 0 30px;
    position: relative;
    min-height: 100%;
    width: 100%;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
}
@media only screen and (min-width: 780px) {
    .lr-cus-reg-wrapper .lr-cus-reg-frame {
        display: table;
    }
}
.lr-cus-reg-wrapper .lr-container {
    max-width: 960px;
    padding: 0 10px;
    margin: 0 auto;
}
.lr-cus-reg-wrapper a {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: #0174ae;
}
.lr-cus-reg-wrapper a:hover {
    color: #0174ae;
    text-decoration: underline;
}
.lr-cus-reg-wrapper a:visited {
    color: #00b0f0;
}
.lr-cus-reg-wrapper img {
    display: block;
    border: 0px;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -ms-user-drag: none;
    user-drag: none;
}
.lr-cus-reg-wrapper p {
    font-size: 16px;
    line-height: 25px;
    margin: 0 0 30px;
}
@media only screen and (min-width: 780px) {
    .lr-header {
        margin-bottom: 30px;
    }
}
.lr-header .logo {
    text-align: center;
}
@media only screen and (min-width: 780px) {
    .lr-header .logo {
        padding: 0 60px;
    }
}
.lr-header .logo .lr-heading {
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 10px;
}
.lr-header .logo img {
    display: inline-block;
    width: 100%;
    max-width: 300px;
}
.lr-interface-wrapper {
    display: table-cell;
    vertical-align: middle;
}
.lr-interface-wrapper .lr-interface-frame {
    display: block;
    table-layout: fixed;
    width: 100%;
    margin: 0 auto;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
[data-cus-reg-box] .lr-interface-wrapper .lr-interface-frame {
    padding: 15px 0;
    border: 10px solid #eee;
    border-radius: 20px;
}
@media only screen and (min-width: 780px) {
    .lr-interface-wrapper .lr-interface-frame {
        display: table;
    }
}
.lr-interface-wrapper .lr-interface-frame .lr-interface-container {
    display: block;
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    color: #444;
}
@media only screen and (min-width: 780px) {
    .lr-interface-wrapper .lr-interface-frame .lr-interface-container {
        display: table-cell;
        padding: 15px 60px;
    }
    [data-cus-reg-stacked] .lr-interface-wrapper .lr-interface-frame .lr-interface-container {
        display: block;
        padding: 30px;
    }
}
.lr-interface-wrapper .lr-interface-frame .lr-interface-container .lr-heading {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 30px;
}
.lr-interface-wrapper .lr-interface-frame .lr-interface-container .lr-link-box {
    clear: both;
    padding: 5px 0;
    border-top: 1px solid #fff;
}
.lr-interface-wrapper .lr-interface-frame .lr-interface-container .lr-link-box .lr-reg-link {
    float: left;
    clear: both;
    font-size: 14px;
    line-height: 30px;
}
@media only screen and (min-width: 780px) {
    .lr-interface-wrapper .lr-interface-frame .lr-interface-container .lr-link-box .lr-reg-link {
        clear: none;
    }
}
@media only screen and (min-width: 780px) {
    .lr-interface-wrapper .lr-interface-frame .lr-interface-container .lr-link-box .lr-reg-link:nth-child(2) {
        float: right;
    }
}
.lr-interface-wrapper .lr-interface-frame .lr-social-interface-container {
    position: relative;
    border-bottom: 1px solid #666;
}
@media only screen and (min-width: 780px) {
    .lr-interface-wrapper .lr-interface-frame .lr-social-interface-container {
        border-bottom: none;
        border-right: 1px solid #666;
    }
    [data-cus-reg-stacked] .lr-interface-wrapper .lr-interface-frame .lr-social-interface-container {
        border-right: none;
        border-bottom: 1px solid #666;
    }
}
[data-cus-reg-or-separator] .lr-interface-wrapper .lr-interface-frame .lr-social-interface-container:before {
    content: "or";
    text-transform: uppercase;
    color: #666;
    background-color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 32px;
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #666;
    position: absolute;
    top: 100%;
    left: 50%;
    margin: -16px 0 0 -16px;
}
@media only screen and (min-width: 780px) {
    [data-cus-reg-or-separator] .lr-interface-wrapper .lr-interface-frame .lr-social-interface-container:before {
        top: 50%;
        left: 100%;
    }
    [data-cus-reg-stacked][data-cus-reg-or-separator] .lr-interface-wrapper .lr-interface-frame .lr-social-interface-container:before {
        top: 100%;
        left: 50%;
    }
}




/******************8*/
.lr-linked-data div > img {
  vertical-align: middle;
}

ul.loginradiuscustomsso-idlinks {
  list-style-type: none;
}

#registration-password-strength-meter {
 width:377px;
}
#changepassword-password-strength-meter {
 display: block;
 width: 177px;
}
#setpassword-password-strength-meter { 
 width: 177px;
}

#registeration-container input[type="checkbox"] {
    float: left;
    margin: 5px;
}
#social-registration-form input[type="checkbox"] {
    width: 13px !important
}
#social-registration-form input[type="submit"] {
    clear: both;
    float: right;
}
#social-registration-form label {
    float: left;
    width: 25%;
}
div.loginradius-raas-validation-message {
  color: red;
}

.raas-lr-form.my-form-wrapper input[type=text],
.raas-lr-form.my-form-wrapper input[type=password] {
  width: 363px;
}

#social-registration-container .loginradius-raas--form-element-content input,
#social-registration-container .loginradius-raas-option {
  font-family: Arial, Helvetica, sans-serif;
  color: #444;
  font-size: 13px;
  border: 1px solid #e2efe1;
  width: 70%;
  height: 27px;
  margin-bottom: 5px !important;
  padding-left: 10px;
  border-radius: 0 12px;
  background: #fff;
}

.popupinner {
  overflow: auto;
  background: #fff;
  padding: 15px 20px;
}

#social-registration-containr .loginradius-raas-submit {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 14px/100% Arial, Helvetica, sans-serif;
  padding: 5px 15px;
  width: auto;
  color: #6e6e6e !important;
  border: 1px solid #ddd;
  border-radius: 0 11px !important;
  background: #efefef;
  margin-top: 6px;
}

.provideractive {
  -webkit-box-shadow: inset 0 0 20px #c0dbf2;
  -moz-box-shadow: inset 0 0 20px #c0dbf2;
  -ms-box-shadow: inset 0 0 20px #c0dbf2;
  box-shadow: inset 0 0 20px #c0dbf2;
  -webkit-animation: glow 2s ease infinite;
  -moz-animation: glow 2s ease infinite;
  -ms-animation: glow 2s ease infinite;
  animation: glow 2s ease infinite;
}

@-webkit-keyframes glow {
  50% {
    -webkit-box-shadow: inset 0 0 5px #c0dbf2;
    -moz-box-shadow: inset 0 0 5px #c0dbf2;
    -ms-box-shadow: inset 0 0 5px #c0dbf2;
    box-shadow: inset 0 0 5px #c0dbf2;
  }
  100% {
    -webkit-box-shadow: inset 0 0 20px #c0dbf2;
    -moz-box-shadow: inset 0 0 20px #c0dbf2;
    -ms-box-shadow: inset 0 0 20px #c0dbf2;
    box-shadow: inset 0 0 20px #c0dbf2;
  }
}

@-moz-keyframes glow {
  50% {
    -webkit-box-shadow: inset 0 0 5px #c0dbf2;
    -moz-box-shadow: inset 0 0 5px #c0dbf2;
    -ms-box-shadow: inset 0 0 5px #c0dbf2;
    box-shadow: inset 0 0 5px #c0dbf2;
  }
  100% {
    -webkit-box-shadow: inset 0 0 20px #c0dbf2;
    -moz-box-shadow: inset 0 0 20px #c0dbf2;
    -ms-box-shadow: inset 0 0 20px #c0dbf2;
    box-shadow: inset 0 0 20px #c0dbf2;
  }
}

@-ms-keyframes glow {
  50% {
    -webkit-box-shadow: inset 0 0 5px #c0dbf2;
    -moz-box-shadow: inset 0 0 5px #c0dbf2;
    -ms-box-shadow: inset 0 0 5px #c0dbf2;
    box-shadow: inset 0 0 5px #c0dbf2;
  }
  100% {
    -webkit-box-shadow: inset 0 0 20px #c0dbf2;
    -moz-box-shadow: inset 0 0 20px #c0dbf2;
    -ms-box-shadow: inset 0 0 20px #c0dbf2;
    box-shadow: inset 0 0 20px #c0dbf2;
  }
}

@keyframes glow {
  50% {
    -webkit-box-shadow: inset 0 0 5px #c0dbf2;
    -moz-box-shadow: inset 0 0 5px #c0dbf2;
    -ms-box-shadow: inset 0 0 5px #c0dbf2;
    box-shadow: inset 0 0 5px #c0dbf2;
  }
  100% {
    -webkit-box-shadow: inset 0 0 20px #c0dbf2;
    -moz-box-shadow: inset 0 0 20px #c0dbf2;
    -ms-box-shadow: inset 0 0 20px #c0dbf2;
    box-shadow: inset 0 0 20px #c0dbf2;
  }
}

.lr_powered_text {
  text-align: left;
  color: #21759b;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  margin: 0;
  padding: 0 3px 6px 15px;
}

#lr_powered_text_link {
  width: 130px;
  height: 13px;
  background-repeat: no-repeat;
  display: block;
}

.lr-linked-data.lr_singleglider_200 span {
  float: left;
}

.lr-linked-data.lr_singleglider_200 div {
  clear: both;
}

.lr-linked-data.lr_singleglider_200 span.lr_providericons {
  margin: 0 6px 2px;
}
.editHooksPopup {
    color: #fff;
    cursor: pointer;
    padding: 5px 15px;
    background: green;
    float: left;
    border-radius: 30px;
    font-weight: bold;
}
.editHooksPopup.reset{
    background: #dddddd;
    margin-left: 5px;
    color: #000000;
}
.editCustomizeHooksPopup {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.editCustomizeHooksPopup .saveButton{
    cursor: pointer;
    background: green;
    color: #fff;
    padding: 5px 15px;
    float: left;
    border-radius: 3px;
}
.editCustomizeHooksPopup .resetButton{
    cursor: pointer;
    background: #dddddd;
    color: #000;
    margin-left: 5px;
    padding: 5px 15px;
    float: left;
    border-radius: 3px;
}

.editCustomizeHooksPopup .popupModal-content {
    border-radius: 0 23px;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    min-width: 520px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop !important;
    -webkit-animation-duration: 0.4s !important;
    animation-name: animatetop !important;
    animation-duration: 0.4s !important;
}
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
.editCustomizeHooksPopup .popupModal-body .span3 {
    font-weight: bold;
}
.editCustomizeHooksPopup .popupModal-header{
    padding: 2px 16px;
    background-color: #dddddd;
    color: #000000;
    border-radius: 0 20px 0 0;
}
.editCustomizeHooksPopup .popupModal-footer{
    padding: 2px 16px;
    background-color: #dddddd;
    color: #000000;
    border-radius: 0 0 0 20px;
}
.editCustomizeHooksPopup .close{
    margin-top: 10px;
    margin-left: 99%;
    cursor: pointer;
}
.editCustomizeHooksPopup .popupModal-body {padding: 2px 16px;}
.editCustomizeHooksPopup .hint {
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 10px;
}
.popupModal-body div.form-type-checkbox{
    padding: 2px !important;
    margin-top:5px;
}
.popupModal-body div.form-type-textfield{
    padding: 0px !important;    
}
.popupModal-body input.form-checkbox{
    margin-left: 100px !important;
}
.popupModal-body label.option{
    margin-left: -109px !important;
}
.popupModal-body label {
    margin-left: 10px !important;
    padding: 2px !important;
}
.popupModal-body input[type="text"] {
    margin-left: 10px !important;    
    padding: 2px !important;
    margin-top: 4px;
}
.popupModal-body div.form-textarea-wrapper {
    margin-left: 10px !important;    
    padding: 2px !important;
    width: 456px !important;
}
.popupModal-body input[type="submit"] {
   margin-top: 10px !important;
}
#lr_raas_hook_customize input[type="text"] {
   width: 200px !important;
}
#lr_raas_hook_valiadtion_message input[type="text"] {
   width: 200px !important;
}
.popupModal-body div input.validationMessage{
    float: left;
    margin-top: -32px;
    margin-left: 300px !important;
}
#tabs-3 #sociallogin_userprofile_table{
    table-layout:auto;
}

/**
 *
 * Start Social Login Style
 **/
.lr-sl-shaded-brick-frame {
	
    margin: 0 auto;
    font-size: 15px;
    line-height: 30px;
}
.lr-sl-shaded-brick-frame:empty {
    display: none;
}
.lr-sl-shaded-brick-frame .lr-sl-shaded-brick-button {
    display: block;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    z-index: 1;
    /*Effects*/
    box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.3), inset 0 -15px 25px -1px rgba(0,0,0,0.2), inset 0 -1px 0 rgba(0,0,0,0.2);
    padding-left: 52px;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-shadow: none;
    transition: all 200ms ease-in-out;
    /*Appearance*/
    width: 20%;
    margin-left: 10%;
    height: 42px;
    line-height: 42px;
    border-radius: 5px;
    margin-bottom: 12px;
    padding: 0 5px;
}
.lr-sl-shaded-brick-frame .lr-sl-shaded-brick-button:hover {
    box-shadow: none;
}
@media only screen and (min-width: 780px) {
    .lr-sl-shaded-brick-frame .lr-sl-shaded-brick-button {
        text-align: center;
    }
}
.lr-sl-shaded-brick-frame .lr-sl-shaded-brick-button:after {
    display: inline-block;
    content: attr(data-title-short);
}
@media only screen and (min-width: 400px) {
    .register .lr-sl-shaded-brick-frame .lr-sl-shaded-brick-button:after {
        content: none;
    }
}
.lr-sl-shaded-brick-frame .lr-sl-shaded-brick-button:hover {
    position: relative;
    z-index: 2;
}
.lr-sl-shaded-brick-frame .lr-sl-shaded-brick-button .lr-sl-icon {
    width: 42px;
    height: 42px;
}
@media only screen and (min-width: 780px) {
    .lr-sl-shaded-brick-frame .lr-sl-shaded-brick-button .lr-sl-icon {
        position: absolute;
        left: 0;
        top: 0;
    }
}
/*
*
*
* Social Icon Style
*
***/
.lr-sl-icon {
    display: inline-block;
    text-align: center;
    /*
        *
        * social = providers
            providers array is inside mixin.styl
        * i = count
        */
}
.lr-sl-icon:before,
.lr-sl-icon:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
}
.lr-sl-icon:before {
    width: 32px;
    height: 32px;
    /*
            *
            *Image fallback for ie8
            */
    background-image: url("../images/icon-sprite-32.png");
    /*
            *
            *SVG for scalability. Good for high resolution screens/retina
            **/
    background-size: 100% auto;
    background-position: 0 0;
    margin-top: -4px;
}
.lr-sl-icon:after {
    height: 100%;
    width: 0;
}
.lr-sl-icon-amazon:before {
    background-position: 0 0%;
}
.lr-sl-icon-aol:before {
    background-position: 0 2.857142857142857%;
}
.lr-sl-icon-disqus:before {
    background-position: 0 5.714285714285714%;
}
.lr-sl-icon-facebook:before {
    background-position: 0 8.571428571428571%;
}
.lr-sl-icon-foursquare:before {
    background-position: 0 11.428571428571429%;
}
.lr-sl-icon-github:before {
    background-position: 0 14.285714285714286%;
}
.lr-sl-icon-googleplus:before {
    background-position: 0 17.142857142857142%;
}
.lr-sl-icon-google:before {
    background-position: 0 20%;
}
.lr-sl-icon-hyves:before {
    background-position: 0 22.857142857142858%;
}
.lr-sl-icon-instagram:before {
    background-position: 0 25.714285714285715%;
}
.lr-sl-icon-kaixin:before {
    background-position: 0 28.571428571428573%;
}
.lr-sl-icon-linkedin:before {
    background-position: 0 31.42857142857143%;
}
.lr-sl-icon-live:before {
    background-position: 0 34.285714285714285%;
}
.lr-sl-icon-livejournal:before {
    background-position: 0 37.142857142857146%;
}
.lr-sl-icon-mixi:before {
    background-position: 0 40%;
}
.lr-sl-icon-myspace:before {
    background-position: 0 42.85714285714286%;
}
.lr-sl-icon-odnoklassniki:before {
    background-position: 0 45.714285714285715%;
}
.lr-sl-icon-openid:before {
    background-position: 0 48.57142857142857%;
}
.lr-sl-icon-:before {
    background-position: 0 51.42857142857143%;
}
.lr-sl-icon-paypal:before {
    background-position: 0 54.285714285714285%;
}
.lr-sl-icon-persona:before {
    background-position: 0 57.142857142857146%;
}
.lr-sl-icon-qq:before {
    background-position: 0 60%;
}
.lr-sl-icon-renren:before {
    background-position: 0 62.85714285714286%;
}
.lr-sl-icon-salesforce:before {
    background-position: 0 65.71428571428572%;
}
.lr-sl-icon-stackexchange:before {
    background-position: 0 68.57142857142857%;
}
.lr-sl-icon-steamcommunity:before {
    background-position: 0 71.42857142857143%;
}
.lr-sl-icon-tumblr:before {
    background-position: 0 74.28571428571429%;
}
.lr-sl-icon-twitter:before {
    background-position: 0 77.14285714285714%;
}
.lr-sl-icon-verisign:before {
    background-position: 0 80%;
}
.lr-sl-icon-virgilio:before {
    background-position: 0 82.85714285714286%;
}
.lr-sl-icon-vkontakte:before {
    background-position: 0 85.71428571428572%;
}
.lr-sl-icon-sinaweibo:before {
    background-position: 0 88.57142857142857%;
}
.lr-sl-icon-wordpress:before {
    background-position: 0 91.42857142857143%;
}
.lr-sl-icon-yahoo:before {
    background-position: 0 94.28571428571429%;
}
.lr-sl-icon-xing:before {
    background-position: 0 97.14285714285714%;
}
.lr-sl-icon-mailru:before {
    background-position: 0 100%;
}
.lr-sl-icon-more:before {
    background-position: 0 102.85714285714286%;
}
.lr-flat-amazon {
    background-color: #f90;
    color: white;
}
.lr-flat-aol {
    background-color: #066cb1;
    color: white;
}
.lr-flat-disqus {
    background-color: #35a8ff;
     color: white;
}
.lr-flat-facebook {
    background-color: #3b5998;
     color: white;
}
.lr-flat-foursquare {
    background-color: #1cafec;
     color: white;
}
.lr-flat-github {
    background-color: #181616;
     color: white;
}
.lr-flat-google {
    background-color: #dd4b39;
     color: white;
}
.lr-flat-googleplus {
    background-color: #dd4b39;
     color: white;
}
.lr-flat-hyves {
    background-color: #f9a539;
     color: white;
}
.lr-flat-instagram {
    background-color: #406e94;
     color: white;
}
.lr-flat-kaixin {
    background-color: #bb0e0f;
     color: white;
}
.lr-flat-linkedin {
    background-color: #007bb6;
     color: white;
}
.lr-flat-live {
    background-color: #004c9a;
     color: white;
}
.lr-flat-livejournal {
    background-color: #3770a3;
     color: white;
}
.lr-flat-mixi {
    background-color: #d1ad5a;
     color: white;
}
.lr-flat-myspace {
    background-color: #313131;
     color: white;
}
.lr-flat-odnoklassniki {
    background-color: #f69324;
     color: white;
}
.lr-flat-openid {
    background-color: #f7921c;
     color: white;
}
.lr-flat-orange {
    background-color: #f60;
     color: white;
}
.lr-flat-paypal {
    background-color: #13487b;
     color: white;
}
.lr-flat-persona {
    background-color: #e0742f;
     color: white;
}
.lr-flat-qq {
    background-color: #29d;
     color: white;
}
.lr-flat-renren {
    background-color: #005baa;
     color: white;
}
.lr-flat-salesforce {
    background-color: #9cd3f2;
     color: white;
}
.lr-flat-stackexchange {
    background-color: #4ba1d8;
     color: white;
}
.lr-flat-steamcommunity {
    background-color: #666;
     color: white;
}
.lr-flat-tumblr {
    background-color: #32506d;
     color: white;
}
.lr-flat-twitter {
    background-color: #55acee;
     color: white;
}
.lr-flat-verisign {
    background-color: #0261a2;
     color: white;
}
.lr-flat-virgilio {
    background-color: #eb6b21;
     color: white;
}
.lr-flat-vkontakte {
    background-color: #45668e;
     color: white;
}
.lr-flat-sinaweibo {
    background-color: #bb3e3e;
     color: white;
}
.lr-flat-wordpress {
    background-color: #21759c;
     color: white;
}
.lr-flat-yahoo {
    background-color: #400090;
     color: white;
}
.lr-flat-xing {
    background-color: #007072;
     color: white;
}
.lr-flat-mailru {
    background-color: #1897e6;
     color: white;
}
.lr-flat-more {
    background-color: #00427c;
     color: white;
}
.interfacecontainerdiv.lr-sl-shaded-brick-frame a{
    width: 100%;
    color: #ffffff;
}
/**
 *
 * End Social Login Style
 **/