name: release-to-maven-central
on:
  push:
    branches: [ master ]
    
  workflow_dispatch:
    inputs:
      releaseversion:
        description: 'Release version'
        required: true
        default: '11.2.0'
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Import GPG key
      id: import_gpg
      uses: crazy-max/ghaction-import-gpg@v4
      with:
          gpg_private_key: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.MAVEN_GPG_PASSPHRASE }}
    - name: Build with Maven
      run: mvn -B verify --file LoginRadius-JavaSDK/pom.xml
      
   
    - name: Set up Apache Maven Central
      uses: actions/setup-java@v1
      with: # running setup-java again overwrites the settings.xml
        java-version: 1.8
        server-id: maven # Value of the distributionManagement/repository/id field of the pom.xml
        server-username:  ${{secrets.MAVEN_USERNAME}} # env variable for username in deploy
        server-password:  ${{secrets.MAVEN_PASSWORD}} # env variable for token in deploy


    - name: Publish to Apache Maven Central
      run: mvn deploy
      env:
        MAVEN_USERNAME: ${{secrets.MAVEN_USERNAME}}
        MAVEN_CENTRAL_TOKEN: ${{secrets.MAVEN_PASSWORD}}
        MAVEN_GPG_PRIVATE_KEY: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }}
        MAVEN_GPG_PASSPHRASE:  ${{ secrets.MAVEN_GPG_PASSPHRASE }}
